<div class="modal-header">
  <h3 ng-bind="title"></h3>
</div>
<div class="modal-body">
  <form name="form_signup" class="form-horizontal" novalidate ni-form-validate>
    <div class="form-group">
      <div class="col-sm-3">
        <label for="">Project</label>
      </div>
      <div class="col-sm-5">
        <input type="text"
               class="form-control"
               placeholder="Project"
               name="project"
               ng-model="data.project"
               typeahead="project as project.client.name + ' / ' + project.name for project in projects | filter:$viewValue"
               required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-3">
        <label for="">Time</label>
      </div>
      <div class="col-sm-3">
        <input type="text"
               placeholder="Time"
               name="time"
               class="form-control"
               ng-model="data.time"
               required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-3">
        <label for="">Description</label>
      </div>
      <div class="col-sm-9">
        <textarea class="form-control"
                  name="description"
                  ng-model="data.description"
                  required>
        </textarea>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="submit()">Submit</button>
  <button class="btn btn-success"
          ng-class="{disabled: isTracked()}"
          ng-if="track && isToday()" ng-click="track()">Submit & Track</button>
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
