<div class="page page-table times-day" ng-controller="TimesDayCtrl">
    <div class="panel panel-default ui-ribbon-container" ng-class="{'ui-ribbon-danger': isModified(), 'ui-ribbon-primary': isToday()}">
        <div class="ui-ribbon-wrapper" ng-if="isModified()">
          <div class="ui-ribbon">
            Modified
          </div>
        </div>
      <div class="ui-ribbon-wrapper" ng-if="isToday()">
        <div class="ui-ribbon">
          Today
        </div>
      </div>
        <div class="panel-heading">
          <strong>
            <span class="glyphicon glyphicon-th"></span>
            <span ng-show="isMine()">Your</span>
            <span class="danger" ng-show="!isMine()" ng-bind="user.name"></span>
            <span> </span>
            Time Entries for <span ng-bind="date | date:'mediumDate'">
            </span>
          </strong>
          <button ng-click="openAddTimeModal()" ng-show="isMine()" class="btn btn-sm btn-primary">Add</button>
          <button ng-click="openAddTimeModal()" ng-show="!isMine()" ni-has-perm="times.add_timeentry" class="btn btn-sm btn-danger">Fix</button>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2">
              <div class="input-group datepicker-controls">
              <span class="input-group-btn">
                <button ng-click="prevDate()" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
              </span>
                <input type="text"
                       class="form-control"
                       ng-model="date"
                       name="date"
                       datepicker-popup="yyyy-MM-dd"
                       is-open="datepickerOpened"
                       ng-click="openDatepicker()"
                       container="body">
              <span class="input-group-btn">
                <button ng-click="nextDate()" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
              </span>
              </div>
            </div>
          </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Project</th>
                    <th>Time</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="time in times" ng-class="{deleted: time.deleted}">
                  <td ng-bind="time.project.client.name"></td>
                  <td ng-bind="time.project.name"></td>
                  <td ni-blink="time.time" ng-bind="time.time.toFixed(2)"></td>
                  <td ng-bind="time.description"></td>
                  <td ng-bind="time.created_at | date: 'medium'"></td>
                  <td ng-bind="time.modified_at | date: 'medium'"></td>
                  <td>
                    <div class="btn-toolbar" ng-if="!time.deleted">
                      <div class="btn-group">
                        <button class="btn btn-warning"
                                ng-class="{disabled: isTracked(time)}"
                                ng-click="openEditTimeModal(time)">
                          <i class="fa fa-pencil-square-o"></i>
                        </button>
                      </div>

                      <div class="btn-group"
                           ng-if="isMine() && isToday() && !isTracked(time)">
                        <button type="button" class="btn btn-default"
                                ng-class="{disabled: isTracked()}"
                                ng-click="startTracking(time)">
                          <i class="fa fa-circle-o-notch"></i>
                        </button>
                      </div>

                      <div class="btn-group"
                           ng-show="isTracked(time)">
                        <button class="btn btn-success" data-toggle="dropdown">
                          <i class="fa fa-circle-o-notch fa-spin"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-tracking" role="menu">
                          <li><a ng-click="applyTracking(time)">Apply</a></li>
                          <li><a ng-click="cancelTracking(time)">Cancel</a></li>
                        </ul>
                      </div>

                      <div class="btn-group">
                        <button class="btn btn-danger"
                                ng-click="removeEntry(time)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>

                    </div>
                  </td>
                </tr>
            </tbody>
          <tfoot  ng-show="times.length > 0">
          <tr>
            <th></th>
            <th>Sum:</th>
            <th ng-bind="getSum().toFixed(2)"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </tfoot>
        </table>
    </div>
</div>