<div id="times-month" class="page page-table times-month" ng-controller="TimesMonthCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>
        <span class="glyphicon glyphicon-th"></span>
        <span> </span>
        Time Entries for <span ng-bind="date | date:'MMM, yyyy'"></span>
      </strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <div class="input-group datepicker-controls">
            <span class="input-group-btn">
              <button ng-click="prevDate()" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
            </span>
            <input type="text"
                   class="form-control"
                   ng-model="date"
                   name="date"
                   datepicker-popup="MMM, yyyy"
                   is-open="datepickerOpened"
                   ng-click="openDatepicker()"
                   datepicker-mode="'month'"
                   datepicker-options="dateOptions"
                   container="body">
            <span class="input-group-btn">
              <button ng-click="nextDate()" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table bindonce="days" class="table table-hover">
        <thead>
        <tr>
          <th></th>
          <th ng-repeat="day in days"
              bo-bind="day.date()"
              class="day"
              ng-class="{saturday: day.day() == 6, sunday: day.day() == 0, today: day.isSame(today, 'day')}">
          </th>
          <th>SUM</th>
          <th>Exp</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users"
            ng-init="userTimes = times[user.id]; userStats = stats[user.id]">
          <td bo-bind="user.name"></td>
          <td ng-repeat="day in days"
              ng-init="time = userTimes[day.date()]"
              ng-class="{saturday: day.day() == 6, sunday: day.day() == 0, today: day.isSame(today, 'day'), modified: time.modified}">
              <a ui-sref="li.times_day({user: user.id, date: h.toDateStr(day)})" bo-bind="time.time">.</a>
          </td>
          <td>
            <span bo-bind="userStats.sum"></span>
            <span>(</span>
            <span bo-bind="(userStats.diff > 0 ? '+' : '') + userStats.diff"
                  ng-class="{'text-danger': userStats.diff < 0, 'text-success': userStats.diff > 0}">
            </span>
            <span>)</span>
          </td>
          <td bo-bind="userStats.expected.month"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
