$config-tab-width: 7%;

.config-page {
  .ui-tab-container {
    padding-left: $config-tab-width;
    .nav-tabs {
      border: none;
      width: $config-tab-width;
      li:last-child {
        border-bottom: 1px solid #ddd;
      }
    }
    .tab-content {
      border: none;
      border-left: 1px solid #ddd;
      min-height: 300px;
    }
  }
}

.access-page {
  table {
    tr:not(.access-details) {
      td, th {
        white-space: nowrap;
        &:nth-child(2) {
          width: 176px;
        }
        &:nth-child(3) {
          width: 38px;
          > div {
            width: 58px;
          }
        }
      }
    }
  }
}