.page-signin {
  .has-error {
    .input-group-addon {
      color: $brand-danger;
    }
    .form-control {
      color: $brand-danger;
      box-shadow: none;
      @include placeholder {
        color: $brand-danger;
      }
    }
  }
}