.times-day {
  table {
    tbody {
      tr {
        &.deleted {
          text-decoration: line-through;
          color: lightgray;
        }
        td {
          white-space: nowrap;
          &:nth-child(4) {
            width: 99%;
          }
          &:nth-last-child(1) > div {
            width: 132px;
          }
        }
      }
    }
    tfoot {
      tr > th {
        &:nth-child(2){
          text-align: right;
        }
      }
    }
  }
  .dropdown-menu-tracking {
    min-width: 80px;
  }
}
