#times-month {
  table {
    font-size : 11px;
    td {
      padding: 2px;
      text-align: center;
      &:first-child {
        text-align: left;
        padding-left: 10px;
      }
      &.modified > a {
        color: $state-danger-text;
      }
    }
    .saturday {
      background-color: #f5f5f5;
    }
    .sunday {
      background-color: #f5f5f5;
    }
    .today {
      background-color: #e6f5e8;
    }
    th {
      padding: 10px 2px 10px 2px;
      text-align: center;
      &:first-child {
        text-align: left;
        padding-left: 10px;
      }
      &.day {
        width: 32px;
      }
    }
  }
}