.table-users {
  th {
    &.employee-name {
      width: 250px;
    }
  }
  td {
    &.employee-avatar {
      vertical-align: middle !important;
      img {
        width: 60px;
      }
    }
    &.employee-roles {
      ul {
        margin-bottom: 0;
      }
    }
    &.employee-location {
      text-align: center;
      vertical-align: middle !important;
    }
    &.employee-name {
      text-align: center;
      vertical-align: middle !important;
    }
    &.employee-contact {
      ul {
        margin-bottom: 0;
        li {
          padding: 0;
          border-bottom: 0;
          label {
            margin-bottom: 0;
          }
        }
      }

    }
  }
}