<section class="page-general page">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default" ng-controller="PresenceCtrl">
        <div class="panel-heading">
          <strong><span class="glyphicon glyphicon-th"></span> Presence</strong>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="input-group datepicker-controls">
              <span class="input-group-btn">
                <button ng-click="prevDate()" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
              </span>
                <input type="text"
                       class="form-control"
                       ng-model="date"
                       name="date"
                       datepicker-popup="yyyy-MM-dd"
                       is-open="datepickerOpened"
                       ng-click="openDatepicker()"
                       container="body">
              <span class="input-group-btn">
                <button ng-click="nextDate()" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
              </span>
              </div>
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th>Employee</th>
            <th>Start</th>
            <th>End</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="p in presences">
            <td ng-bind="p.user.name"></td>
            <td ng-bind="p.first | date:'mediumTime'"></td>
            <td ng-bind="p.last | date:'mediumTime'"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
