<div class="panel panel-default" ng-controller="OfficeIpsCtrl">
  <div class="panel-heading">
    <strong><span class="glyphicon glyphicon-th"></span> Office IPs</strong>
    <span class="pull-right">
      <button class="btn btn-primary btn-xs" ng-click="openModal()">Add</button>
    </span>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="officeip in officeips">
      <button ng-click="delete(officeip)" class="btn btn-danger btn-xs pull-right">
        <i class="fa fa-remove"></i>
      </button>
      <span editable-text="officeip.ip" buttons="no" onbeforesave="save($data, officeip)" ng-bind="officeip.ip"></span>
    </li>
    <li class="list-group-item" ng-show="officeips.length === 0">
      <div class="text-center">
        <em clas="text-center">Empty</em>
      </div>
    </li>
  </ul>
</div>
