<div class="panel panel-default" ng-controller="RolesCtrl">
  <div class="panel-heading">
    <strong><span class="glyphicon glyphicon-th"></span> Roles</strong>
    <span class="pull-right">
      <button class="btn btn-primary btn-xs" ng-click="openModal()">Add</button>
    </span>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="role in roles">
      <button ng-click="delete(role)" class="btn btn-danger btn-xs pull-right">
        <i class="fa fa-remove"></i>
      </button>
      <span editable-text="role.name" buttons="no" onbeforesave="save($data, role)" ng-bind="role.name"></span>
    </li>
    <li class="list-group-item" ng-show="roles.length === 0">
      <div class="text-center">
        <em clas="text-center">Empty</em>
      </div>
    </li>
  </ul>
</div>
