<div class="modal-header">
  <h3>Add Project</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" novalidate ni-form-validate>
    <div class="form-group">
      <div class="col-sm-3">
        <label for="">Name</label>
      </div>
      <div class="col-sm-9">
        <input type="text"
               name="name"
               class="form-control"
               placeholder="Name"
               ng-model="project.name"
               required
               >
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="add()">Add</button>
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
