<div class="page page-table">
  <div class="panel panel-default" ng-controller="ProjectCtrl">
    <div class="panel-heading">
      <strong><span class="glyphicon glyphicon-th"></span> Project <span ng-bind="project.name"></span></strong>
      <button class="btn btn-primary btn-sm"
              ni-has-perm="clients.change_project"
              ng-click="open()"
              >Edit project</button>
    </div>
  </div>
</div>
