<div class="page page-table">
  <section class="panel panel-default table-dynamic" ng-controller="UsersCtrl">
    <div class="panel-heading"><strong><span class="fa fa-users"></span> Users</strong></div>

    <div class="table-filters">
      <div class="row">
        <div class="col-sm-4 col-xs-6">
          <form>
            <input type="text"
                   placeholder="Search..."
                   class="form-control"
                   ng-model="searchKeywords"
                   ng-keyup="changeSearch()">
          </form>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-striped table-responsive table-users">

      <thead>
      <tr>
        <th class="nostretch"></th>
        <th class="employee-name">
          <div class="th">
            Employee
            <span class="fa fa-angle-up"
                  ng-click=" changeOrder('name') "
                  ng-class="{active: rowOrder == 'name'}">
            </span>
            <span class="fa fa-angle-down"
                  ng-click=" changeOrder('-name') "
                  ng-class="{active: rowOrder == '-name'}">
            </span>
          </div>
        </th>
        <th>
          <div class="th">
            Roles
          </div>
        </th>
        <th><div class="th">Location</div></th>
        <th><div class="th">Contact</div></th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="user in users">
        <td class="employee-avatar">
          <img alt="" ng-src="{{ user | avatar }}" class="img-circle avatar">
        </td>
        <td class="employee-name">
          <a ui-sref="li.users.detail({id: user.id})" ng-bind="user.name"></a>
        </td>
        <td class="employee-roles">
          <ul class="list-unstyled">
            <li ng-repeat="role in user.profile.roles" ng-bind="role.name"></li>
          </ul>
        </td>
        <td class="employee-location" >
          <span ng-bind="user.profile.location.name"></span>
        </td>
        <td class="employee-contact">
          <ul class="list-unstyled list-info">
            <li>
              <label>Email</label>
              <span ng-bind="user.email"></span>
            </li>
            <li>
              <label>Skype</label>
              <span ng-bind="user.profile.info.skype"></span>
            </li>
            <li>
              <label>Cellphone</label>
              <span ng-bind="user.profile.info.cellphone"></span>
            </li>
          </ul>

        </td>
      </tr>
      </tbody>
    </table>

    <footer class="table-footer">
      <div class="row">
        <div class="col-md-6 page-num-info">
          <span>
              Show
              <select ng-model="pageSize"
                      ng-options="num for num in pageSizeOpt"
                      ng-change="onPageSizeChange()">
              </select>
              users per page
          </span>
        </div>
        <div class="col-md-6 text-right pagination-container">
          <pagination class="pagination-sm"
                      ng-model="currentPage"
                      total-items="users.count"
                      max-size="4"
                      ng-change="selectPage(currentPage)"
                      items-per-page="pageSize"
                      rotate="false"
                      previous-text="&lsaquo;" next-text="&rsaquo;"
                      boundary-links="true"></pagination>
        </div>
      </div>
    </footer>
  </section>

</div>
