<div data-extend-template="config/access/base.add.html">

  <h3 data-block="header" ng-bind="title"></h3>

  <div class="form-group" data-block="input">
    <div class="col-sm-3">
      <label for="">Domain</label>
    </div>
    <div class="col-sm-8">
      <input type="text"
             placeholder="Domain"
             name="domain"
             class="form-control"
             ng-model="data.domain"
             required>
    </div>
  </div>
</div>