<div class="modal-header">
  <h3 data-block="header"></h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" novalidate ni-form-validate>
    <div class="form-group" data-block="input">
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label for="">Groups</label>
      </div>
      <div class="col-sm-8">
        <ui-select multiple reset-search-input="true" ng-model="data.groups" name="groups">
          <ui-select-match placeholder="Select groups...">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="group.id as group in groups  | propsFilter: {name: $select.search}">
            <div ng-bind-html="group.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label for="">All Clients</label>
      </div>
      <div class="col-sm-8">
        <input type="checkbox" ng-model="data.all_clients">
      </div>
    </div>

    <div class="form-group" ng-show="!data.all_clients">
      <div class="col-sm-3">
        <label for="">Clients</label>
      </div>
      <div class="col-sm-8">
        <ui-select multiple reset-search-input="true" ng-model="data.clients">
          <ui-select-match placeholder="Select clients...">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="client.id as client in clients  | propsFilter: {name: $select.search}">
            <div ng-bind-html="client.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="form-group" ng-show="!data.all_clients">
      <div class="col-sm-3">
        <label for="">Projects</label>
      </div>
      <div class="col-sm-8">
        <ui-select multiple reset-search-input="true" ng-model="data.projects">
          <ui-select-match placeholder="Select projects...">{{$item.name}}</ui-select-match>
          <ui-select-choices group-by="groupProjectsFn" repeat="project.id as project in projects  | propsFilter: {name: $select.search, 'client.name': $select.search}">
            <div ng-bind-html="project.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="submit()">Submit</button>
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
