<div class="row access-page">
  <div class="col-md-6">
    <div class="panel panel-default table-dynamic" ng-controller="InviteByEmailCtrl">
      <div class="panel-heading">
        <strong><span class="glyphicon glyphicon-th"></span> Individual invitations</strong>
        <input type="text" class="input-sm" placeholder="search" ng-model="search">
        <span class="pull-right">
          <button class="btn btn-primary btn-xs" ng-click="openAddModal()">Add</button>
        </span>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Email</th>
          <th>Created<i class="fa fa-fw fa-sort-desc"></i></th>
          <th><div></div></th>
        </tr>
        </thead>
        <tbody>
          <tr class="clickable data-row"
              ng-repeat-start="invitation in invitations | propsFilter: {email: search}"
              ng-click="collapsed[$index] = !collapsed[$index]">
            <td ng-bind="invitation.email"></td>
            <td ng-bind="invitation.created_at | date: 'medium' "></td>
            <td>
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button ng-click="edit(invitation); $event.stopPropagation();" class="btn btn-warning btn-xs pull-right">
                    <i class="fa fa-pencil-square-o"></i>
                  </button>
                </div>
                <div class="btn-group">
                  <button ng-click="delete(invitation); $event.stopPropagation();" class="btn btn-danger btn-xs pull-right">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
          <tr class="collapse-row access-details" ng-repeat-end>
            <td colspan="3">
              <div collapse="!collapsed[$index]">
                <div class="collapsed-content">
                  <p ng-show="invitation.all_clients" class="text-warning">ACCESS TO ALL CLIENTS</p>
                  <div ng-show="!invitation.all_clients">
                    <span>Groups:</span>
                    <span class="label label-xs label-info" ng-repeat="group in invitation.groups" ng-bind="group.name"></span>
                  </div>
                  <div ng-show="!invitation.all_clients">
                    <span>Clients: </span>
                    <span class="label label-xs label-info" ng-repeat="client in invitation.clients" ng-bind="client.name"></span>
                  </div>
                  <div ng-show="!invitation.all_clients">
                    <span>Projects:</span>
                    <span class="label label-xs label-info" ng-repeat="project in invitation.projects" ng-bind="project.client.name + '/' + project.name"></span>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default table-dynamic" ng-controller="DomainAccessCtrl">
      <div class="panel-heading">
        <strong><span class="glyphicon glyphicon-th"></span> Access from domain</strong>
        <span class="pull-right">
          <button class="btn btn-primary btn-xs" ng-click="openAddModal()">Add</button>
        </span>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Domain<i class="fa fa-fw fa-sort-asc"></i></th>
          <th>Created</th>
          <th><div></div></th>
        </tr>
        </thead>
        <tbody>
        <tr class="clickable"
            ng-repeat-start="accessobj in accessobjs"
            ng-click="collapsed[$index] = !collapsed[$index]">
          <td ng-bind="accessobj.domain"></td>
          <td ng-bind="accessobj.created_at | date: 'medium' "></td>
          <td>
            <div class="btn-toolbar">
              <div class="btn-group">
                <button ng-click="edit(accessobj); $event.stopPropagation();" class="btn btn-warning btn-xs pull-right">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
              </div>
              <div class="btn-group">
                <button ng-click="delete(accessobj); $event.stopPropagation();" class="btn btn-danger btn-xs pull-right">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
        <tr class="collapse-row access-details" ng-repeat-end>
          <td colspan="3">
            <div collapse="!collapsed[$index]">
              <div class="collapsed-content">
                <p ng-show="accessobj.all_clients" class="text-warning">ACCESS TO ALL CLIENTS</p>
                <div ng-show="!accessobj.all_clients">
                  <span>Groups:</span>
                  <span class="label label-xs label-info" ng-repeat="group in accessobj.groups" ng-bind="group.name"></span>
                </div>
                <div ng-show="!accessobj.all_clients">
                  <span>Clients: </span>
                  <span class="label label-xs label-info" ng-repeat="client in accessobj.clients" ng-bind="client.name"></span>
                </div>
                <div ng-show="!accessobj.all_clients">
                  <span>Projects:</span>
                  <span class="label label-xs label-info" ng-repeat="project in accessobj.projects" ng-bind="project.client.name + '/' + project.name"></span>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
