<div data-extend-template="config/access/base.add.html">

  <h3 data-block="header" ng-bind="title"></h3>

  <div class="form-group" data-block="input">
    <div class="col-sm-3">
      <label for="">Email</label>
    </div>
    <div class="col-sm-8">
      <input type="email"
             placeholder="Email"
             name="email"
             class="form-control"
             ng-model="data.email"
             ng-disabled="emailDisabled"
             required>
    </div>
  </div>
</div>