<div class="page" ng-controller="UserCtrl">
  <div class="row">
    <div class="col-md-6 ">
      <section class="panel panel-box">
        <div class="panel-top bg-primary">
          <div class="text-center">
            <h3 class="ng-binding" ng-bind="user.name"></h3>
            <p>Project Manager</p>
          </div>
          <div class="divider divider-lg"></div>
          <div class="divider divider-xl"></div>
        </div>
        <div class="panel-img bg-primary" >
          <img alt="" ng-src="{{ user | avatar }}" class="img-circle">
        </div>
      </section>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <ul class="list-unstyled list-info">
                <li class="ng-binding">
                  <span class="icon glyphicon glyphicon-user"></span>
                  <label>Name</label>
                  <span ng-bind="user.name"></span>
                </li>
                <li>
                  <span class="icon glyphicon glyphicon-envelope"></span>
                  <label>Email</label>
                  <span ng-bind="user.email"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 ">
      <div ng-include="'users/profile/personalinfo/panel.html'"></div>
      <div ng-include="'users/profile/access/panel.html'"></div>
    </div>
  </div>
</div>
