<div class="page config-page">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Settings</div>
    <div class="ui-tab-container ui-tab-vertical">
      <div class="ui-tab">
        <ul class="nav nav-tabs nav-stacked">
          <li class="active" ui-sref-active="active">
            <a ui-sref="li.config.access">Access</a>
          </li>
          <li class="active" ui-sref-active="active">
            <a ui-sref="li.config.other">Other</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active">
            <ui-view></ui-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>