<div class="nav-wrapper" ng-controller="NavCtrl">
  <ul id="nav"
      class="nav"
      collapse-nav>
    <li ni-has-perm="times.manage_own_timeentry" ng-class="{active: $state.includes('li.times_day') || $state.includes('li.times_month')}">
      <a><i class="fa fa-tachometer"></i><span>Time</span></a>
      <ul>
        <li ng-class="{active: $state.includes('li.times_day')}">
          <a ui-sref="li.times_day({user:null, date:null})"><i class="ti-angle-right"></i><span>Today</span></a>
        </li>
        <li ng-class="{active: $state.includes('li.times_month')}">
          <a ui-sref="li.times_month({user:null, date:null})"><i class="ti-angle-right"></i><span>Month</span></a>
        </li>
      </ul>
    </li>
    <li ng-class="{active : $state.includes('li.presence')}">
      <a ui-sref="li.presence"><i class="fa fa-clock-o"></i><span>Presence</span></a>
    </li>
    <li ng-class="{active : $state.includes('li.clients')}">
      <a ui-sref="li.clients"><i class="fa fa-briefcase"></i><span>Clients</span></a>
    </li>
    <li ni-has-perm="users.get_user" ng-class="{active: $state.includes('li.users')}">
      <a ui-sref="li.users.list"> <i class="fa fa-users"></i><span>Users</span> </a>
    </li>
    <li ng-show="hasPerm('global.view_config')" ng-class="{active: $state.includes('li.config')}">
      <a ui-sref="li.config.access"><i class="fa fa-cog"></i><span>Configuration</span></a>
    </li>
  </ul>
</div>
