<div class="page page-table">
  <div class="panel panel-default" ng-controller="ClientCtrl">
    <div class="panel-heading">
      <strong><span class="glyphicon glyphicon-th"></span> Client <span ng-bind="client.name"></span></strong>
      <button ni-has-perm="clients.add_project" class="btn btn-primary btn-sm" ng-click="openAddProject()">Add project</button>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Status</th>
        <th>Manager</th>
        <th>Progress</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="project in projects">
        <td ng-bind="project.id"></td>
        <td> <a ui-sref="li.project({clientId: client.id, id: project.id})" ng-bind="project.name"></a></td>
        <td><span class="label label-info">Pending</span></td>
        <td>Amery Lee</td>
        <td>
          <div class="pull-right">
            <button ng-click="openUpdateProject(project)"
                    class="btn btn-warning"
                    ni-has-perm="clients.change_project"
                    ><i class="fa fa-edit"></i></button>
            <button ng-click="remove(project)"
                    class="btn btn-danger"
                    ni-has-perm="clients.delete_project"
                    ><i class="fa fa-remove"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
