<div class="page page-table">
  <div class="panel panel-default" ng-controller="ClientListCtrl">
    <div class="panel-heading">
      <strong><span class="glyphicon glyphicon-th"></span> Clients</strong>
      <button ni-has-perm="clients.add_client"
              class="btn btn-primary btn-sm"
              ng-click="openAddClient()">Add client</button>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Status</th>
        <th>Manager</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="client in clients">
        <td ng-bind="client.id"></td>
        <td> <a ui-sref="li.client({id: client.id})" ng-bind="client.name"></a></td>
        <td><span class="label label-info">Pending</span></td>
        <td>Amery Lee</td>
        <td>
          <div class="pull-right">
            <button ng-click="openUpdateClient(client)"
                    ni-has-perm="clients.change_client"
                    class="btn btn-warning"><i class="fa fa-edit"></i></button>
            <button ng-click="remove(client)"
                    ni-has-perm="clients.delete_client"
                    class="btn btn-danger"><i class="fa fa-remove"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
