<div class="modal-header">
  <h3>Update client <span ng-bind="client.name"></span></h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" novalidate>
    <div class="form-group">
      <div class="col-sm-3">
        <label for="">Name</label>
      </div>
      <div class="col-sm-9" ng-class="{'has-error': form.errors.name[0]}">
        <input  type="text"
                class="form-control"
                placeholder="Name"
                ng-model="client.name"
                required
                popover="{{form.errors.name[0]}}"  popover-trigger="mouseenter">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="update()">Update</button>
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
