<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>NIntranet</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<%= css %>">
  <base href="/">
</head>

<body id="app"
      class="app nav-collapsed-min"
      data-off-canvas-nav
      custom-page
    >
  <div id="base-container" ui-view>
  </div>
  <% _.forEach(jsfiles, function(js){ %>
    <script type="text/javascript" src="<%= js %>"></script>
  <% }) %>
</body>
</html>
