<header class="top-header clearfix">
    <!-- Logo -->
    <div class="logo bg-dark">
        <a href="#/">
            <span>NIntranet</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a data-toggle-nav-collapsed-min
                   class="toggle-min"
                   ><i class="ti-menu"></i></a>
            </li>
          <li class="presence-today" ng-controller="PresenceHeaderCtrl">
            <span ng-if="presence.inOffice">Today from {{presence.inWorkSince()}} till now {{presence.inWorkHours()}}h time added {{ presence.hoursAdded() }}h time to add {{ presence.hoursToAdd()}}h</span>
          </li>
        </ul>
        <ul class="nav-right pull-right list-unstyled">
          <li class="dropdown tracking" ng-controller="TrackingCtrl" >
            <a class="dropdown-toggle" ng-if="tracker.timeentryid">
              <i class="fa fa-circle-o-notch fa-spin"></i>
              <span ng-bind="tracker.getTime().toFixed(2)"></span>
            </a>
            <ul class="dropdown-menu with-arrow dropdown-menu-tracking" role="menu">
              <li><a ng-click="tracker.applyTracking()">Apply</a></li>
              <li><a ng-click="tracker.cancelTracking()">Cancel</a></li>
            </ul>
          </li>
          <li class="dropdown text-normal nav-profile" ng-controller="UserHeaderCtrl">

              <a class="dropdown-toggle">
                  <img ng-src="{{ user | avatar }}" alt="" class="img-circle img30_30">
                  <span class="hidden-xs">
                      <span ng-bind="user.name"></span>
                  </span>
              </a>
              <ul class="dropdown-menu with-arrow pull-right">
                  <li>
                      <a ui-sref="li.users.detail({id: 'me'})">
                          <i class="ti-user"></i>
                          <span>My Profile</span>
                      </a>
                  </li>
                  <li>
                      <a ng-click="logout()">
                          <i class="ti-export"></i>
                          <span>Log Out</span>
                      </a>
                  </li>
              </ul>
          </li>
        </ul>
    </div>
</header>
