.header-container {
  .top-header {
    .top-nav {
      .nav-left {
        .presence-today {
          margin: 14px 0 0 10px;
          font-size: 12px;
          border-right: 0;
        }
      }
      .tracking {
        font-size: 12px;
        > a {
          color: $brand-success;
        }
      }
    }
  }
}
