.modal-large > div {
  width: 800px;
}


.modal-dialog {
  .modal-content {
    .modal-body-footer {
      text-align: right;
      margin-top: 30px;
    }
    .modal-body {
      border-bottom: 1px solid $modal-header-border-color;
    }
    .modal-footer {
      border-top: none;
    }
  }

}