.panel {
  .panel-heading {
    input {
      @extend .form-control;
      @extend .input-sm;
      margin-left: 10px;
      width: 180px;
      height: 30px;
      margin-top: -4px;
      margin-bottom: -4px;
      display: inline-block;
    }
  }
}