.ui-select-multiple.ui-select-bootstrap {
  padding: 3px 4px 4px 4px;
  .ui-select-match {
    .ui-select-match-item {
      &:focus {
        outline: none;
      }
      .close {
        margin-top: 2px;
        &:focus {
          outline: none;
        }
      }
    }
  }
  &[disabled=disabled] {
    min-height: 31px;
  }
}
