<div class="modal-header">
  <h3>Edit Personal Info</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <form name="form_signup" class="form-horizontal" novalidate ni-form-validate>

        <div class="form-group">
          <div class="col-sm-3">
            <label for="">Roles</label>
          </div>
          <div class="col-sm-9">
            <select class="form-control" multiple
                    name="roles"
                    ng-model="userprofile.roles"
                    ng-options="role.id as role.name for role in roles"
                    required>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3">
            <label for="">Location</label>
          </div>
          <div class="col-sm-9">
            <select class="form-control"
                    name="location"
                    ng-model="userprofile.location"
                    ng-options="location.id as location.name for location in locations"
                    required>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3">
            <label for="">Birthdate</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group ui-datepicker">

              <input type="text"
                     class="form-control"
                     ng-model="userprofile.birthdate"
                     name="date"
                     datepicker-popup="yyyy-MM-dd"
                     is-open="datepickers.birthdate"
                  >
        <span class="btn btn-default input-group-addon" ng-click="openDatepicker('birthdate', $event)">
          <i class="ti-calendar"></i>
        </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3">
            <label for="">Start work</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group ui-datepicker">

              <input type="text"
                     class="form-control"
                     ng-model="userprofile.start_work"
                     name="date"
                     datepicker-popup="yyyy-MM-dd"
                     is-open="datepickers.start_work"
                  >
        <span class="btn btn-default input-group-addon" ng-click="openDatepicker('start_work', $event)">
          <i class="ti-calendar"></i>
        </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3">
            <label for="">Start Full Time</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group ui-datepicker">

              <input type="text"
                     class="form-control"
                     ng-model="userprofile.start_full_time_work"
                     name="date"
                     datepicker-popup="yyyy-MM-dd"
                     is-open="datepickers.start_full_time_work"
                  >
        <span class="btn btn-default input-group-addon" ng-click="openDatepicker('start_full_time_work', $event)">
          <i class="ti-calendar"></i>
        </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3">
            <label for="">Cellphone</label>
          </div>
          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="project"
                   ng-model="userprofile.info.cellphone"
                >
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3">
            <label for="">Skype</label>
          </div>
          <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="project"
                   ng-model="userprofile.info.skype"
                   required
                >
          </div>
        </div>

      </form>
    </div>
    <div class="col-md-6">
      <section class="panel panel-box">
        <div class="panel-top">
          <div class="text-center">
            <h3 class="ng-binding" ng-bind="user.name"></h3>
            <p>Project Manager</p>
          </div>
          <div class="divider divider-lg"></div>
          <div class="divider divider-xl"></div>
        </div>
        <div class="panel-img bg-primary" ng-file-select accept="image/*" ng-file-model="profileImage" ng-file-change="profileImageChanged($files, $event)">
          <img alt="" ng-src="{{ avatar_url }}" class="img-circle clickable">
        </div>
      </section>

    </div>

  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="submit()">Submit</button>
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
