<div class="panel panel-default" ng-controller="PersonalInfoCtrl">
  <div class="panel-heading">
    <strong><span class="glyphicon glyphicon-th"></span> Personal Info</strong>
    <button class="btn btn-xs btn-warning pull-right" ng-show="currentUser.id === user.id || hasPerm('users.change_userprofile')" ng-click="openModal()">Edit</button>
  </div>
  <div class="panel-body">
    <div class="media">
      <div class="media-body">
        <ul class="list-unstyled list-info">
          <li class="ng-binding">
            <span class="icon glyphicon glyphicon-user"></span>
            <label>Roles</label>
            <span ng-bind="userprofile.roles | pluck:'name' | joinBy:', '"></span>
          </li>
          <li class="ng-binding">
            <span class="icon glyphicon glyphicon-user"></span>
            <label>Location</label>
            <span ng-bind="userprofile.location.name"></span>
          </li>
          <li>
            <span class="icon glyphicon glyphicon-envelope"></span>
            <label>Brithdate</label>
            <span ng-bind="userprofile.birthdate | date:'mediumDate'"></span>
          </li>
          <li>
            <span class="icon glyphicon glyphicon-home"></span>
            <label>Start Work</label>
            <span ng-bind="userprofile.start_work | date:'mediumDate'"></span>
          </li>
          <li>
            <span class="icon glyphicon glyphicon-earphone"></span>
            <label>Start Full Time</label>
            <span ng-bind="userprofile.start_full_time_work | date:'mediumDate'"></span>
          </li>
          <li>
            <span class="icon glyphicon glyphicon-flag"></span>
            <label>Cellphone</label>
            <span ng-bind="userprofile.info.cellphone"></span>
          </li>
          <li>
            <span class="icon glyphicon glyphicon-globe"></span>
            <label>Skype</label>
            <span ng-bind="userprofile.info.skype"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
