<div class="panel panel-default" ng-controller="UserAccessCtrl">
  <div class="panel-heading">
    <strong><span class="glyphicon glyphicon-th"></span> Access</strong>
    <button class="btn btn-xs btn-warning pull-right"
            ng-show="hasPerm('users.add_to_group') || hasPerm('users.change_accessprofile')"
            ng-click="openModal()">Edit</button>
  </div>
  <div class="panel-body">
    <div class="media">
      <div class="media-body">
        <ul class="list-unstyled list-info">
          <li>
            <span class="icon glyphicon glyphicon-user"></span>
            <label>Groups</label>
            <span ng-repeat="group in user.groups" ng-bind="group.name" class="label label-info label-xs"></span>
          </li>
          <li ng-show="hasPerm('users.get_accessprofile')">
            <span class="icon glyphicon glyphicon-user"></span>
            <label>Clients</label>
            <span ng-show="accessprofile.all_clients"
                  class="text-warning">ACCESS TO ALL CLIENTS</span>
            <span ng-show="!accessprofile.all_clients"
                  ng-repeat="client in accessprofile.clients"
                  ng-bind="client.name"
                  class="label label-info label-xs"></span>
          </li>
          <li ng-show="hasPerm('users.get_accessprofile')">
            <span class="icon glyphicon glyphicon-user"></span>
            <label>Projects</label>
            <span ng-repeat="project in accessprofile.projects" ng-bind="project.name" tooltip-trigger tooltip-placement="top" tooltip="{{project.client.name}}" class="label label-info label-xs"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
