<div class="row">
  <div class="col-md-4" ng-include="'config/other/locations/panel.html'">
  </div>
  <div class="col-md-4" ng-include="'config/other/roles/panel.html'">
  </div>
  <div class="col-md-4" ng-include="'config/other/officeips/panel.html'">
  </div>
</div>
