<div data-extend-template="auth/base.auth.html">
  <div class="form-container" data-block="body" ng-controller="ActivationCtrl">
    <div class="additional-info text-center">

      <p class="text-small text-success" ng-if="valid">Activation sucessful, please click <a ui-sref="signin">here</a> to signin.</p>

      <p class="text-small text-danger" ng-if="!valid">Activating link is wrong.</p>
    </div>
  </div>
</div>
