<div class="page-signin">

  <div class="signin-header">
    <section class="logo text-center">
      <h1><a href="#/">Nintranet</a></h1>
    </section>
  </div>

  <div class="signin-body">
    <div class="container">
      <div class="form-container" data-block="body">


      </div>
    </div>
  </div>
</div>
