<div data-extend-template="auth/base.auth.html">
  <div class="form-container" data-block="body">
    <div class="additional-info text-center">
      <p class="text-small">Check your mailbox for activation link.</p>
    </div>
  </div>
</div>