<div data-extend-template="auth/base.auth.html">
  <div class="form-container" data-block="body"  ng-controller="SigninCtrl">
    <form class="form-horizontal" ng-submit="login()">
      <fieldset>
        <div class="form-group">
          <div class="input-group input-group-first">
            <span class="input-group-addon">
              <span class="ti-email"></span>
            </span>
            <input type="email"
                   class="form-control input-lg"
                   placeholder="Email"
                   ng-model="credentials.email"
                   required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="ti-lock"></span>
            </span>
            <input type="password"
                   class="form-control input-lg"
                   placeholder="Password"
                   ng-model="credentials.password"
                   required>
          </div>
        </div>
        <div class="has-error" ng-show="errors">
          <span class="help-block" ng-bind="errors.non_field_errors[0]">Incorrect email or password</span>
        </div>
        <div class="divider divider-xl"></div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block text-center">Log in</button>
        </div>
      </fieldset>
    </form>
    <div class="divider"></div>
    <section class="additional-info">
      <p class="text-right">
        <a ui-sref="forgot-password">Forgot your password?</a>
        <span> | </span>
        <a ui-sref="signup">Sign up</a>
      </p>
    </section>
  </div>
</div>
