<div data-extend-template="auth/base.auth.html">
  <div class="form-container" data-block="body" ng-controller="SignupCtrl">
    <form class="form-horizontal" ni-form-validate ng-submit="signup()">
      <fieldset>
        <div class="form-group">
          <div class="input-group input-group-first">
            <span class="input-group-addon">
              <span class="ti-user"></span>
            </span>
            <input type="text"
                   name="name"
                   class="form-control input-lg"
                   placeholder="Full name"
                   ng-model="credentials.name"
                   required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
                <span class="ti-email"></span>
            </span>
            <input type="email"
                   name="email"
                   class="form-control input-lg"
                   placeholder="Email"
                   ng-model="credentials.email"
                   required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="ti-lock"></span>
            </span>
            <input type="password"
                   name="password"
                   class="form-control input-lg"
                   placeholder="Password"
                   ng-model="credentials.password"
                   required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="ti-lock"></span>
            </span>
            <input type="password"
                   name="password2"
                   class="form-control input-lg"
                   placeholder="Confirm password"
                   ng-model="credentials.password2"
                   required>
          </div>
        </div>
        <div class="has-error" ng-show="form.errors.non_field_errors">
          <span class="help-block" ng-bind="form.errors.non_field_errors"></span>
        </div>

        <div class="divider divider-xl"></div>
        <div class="form-group">
          <p class="additional-info text-small">By clicking on sign up, you agree to <a href="javascript:;">terms &amp; conditions</a> and <a href="javascript:;">privacy policy</a></p>
          <div class="divider"></div>
          <button type="submit" class="btn btn-primary btn-lg btn-block text-center">Sign up</button>
        </div>
      </fieldset>
    </form>
    <div class="divider"></div>
    <section class="additional-info">
      <p class="text-right"><a ui-sref="signin">Log in now</a></p>
    </section>
  </div>
</div>
