<section ng-include=" 'header/header.html' "
         id="header"
         class="header-container bg-dark"
    ></section>

<div class="main-container">
  <aside ng-include=" 'nav/nav.html' "
         id="nav-container"
         class="nav-container nav-vertical bg-white">
  </aside>

  <div id="content" class="content-container">
    <section class="view-container" ui-view></section>
  </div>
</div>
