<div class="panel panel-default" ng-controller="LocationsCtrl">
  <div class="panel-heading">
    <strong><span class="glyphicon glyphicon-th"></span> Locations</strong>
    <span class="pull-right">
      <button class="btn btn-primary btn-xs" ng-click="openModal()">Add</button>
    </span>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="location in locations">
      <button ng-click="delete(location)" class="btn btn-danger btn-xs pull-right">
        <i class="fa fa-remove"></i>
      </button>
      <span editable-text="location.name" buttons="no" onbeforesave="save($data, location)" ng-bind="location.name"></span>
    </li>
    <li class="list-group-item" ng-show="locations.length === 0">
      <div class="text-center">
        <em clas="text-center">Empty</em>
      </div>
    </li>
  </ul>
</div>
